@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap'); 

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #14141b;
    height: 100vh;
    overflow: hidden; 
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    25% {
        scale: 1.2 1.1;
    }

    50% {
        scale: 1.1 1.2;
    }

    75% {
        scale: 1.2 1.1;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 25vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
}

.name-header {
    position: absolute;
    z-index: 3;
    color: #14141b;
    font-family: 'Montserrat', sans-serif;
    left: 20%;
    top: 25%;
    translate: -50% -50%;
}